


<h2>Update Employee Information </h2>


<table class="table table-hover">
    <tr>
        <th>Employee First Name</th>
        <th>Last Name</th>
        <th>Job Title</th>
        <th>Seniority Level</th>
        <th>Email Address</th>
        <th>Telephone</th>
        <th>Username</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <% profiles.forEach(function(profile) { %>
        
        <tr>
            <td>
                <a href="/profile/editUser?id=<%=profile.id %>" class="text-dark text-decoration-none"> <%= profile.firstName %> <i class="bi bi-box-arrow-in-up-right"></i></a>
            </td> 
                
                
            <td><%= profile.lastName %></td>
            <td><%= profile.jobTitle %></td>
            <td><%= profile.level %></td>
            <td><%= profile.emailAddress %></td>
            <td><%= profile.telephone %></td>
            <td><%= profile.userName %></td>

            <td><%= moment(profile.createdAt).fromNow() %></td>
            <td><%= moment(profile.updatedAt).fromNow() %></td>

            <td><a href="/profile/editUser?id=<%=profile._id%>" ><i class="bi bi-pencil-square text-dark"></i></a></td>
            <td><a href="/profile/delete?id=<%=profile._id%>" class="delete"><i class="bi bi-trash3 text-dark"></i></a></td>
            
        </tr>
        
    
    <% }) %>

    

</table>

