<h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>

<!-- Charts -->
<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="bi bi-graph-up"></i>
                Products Received
            </div>
            <div class="card-body"><canvas id="influxChart" width="100%" height="40"></canvas></div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="bi bi-pie-chart"></i>
                Supplier deliveries
            </div>
            <div class="card-body"><canvas id="pieChart" width="100%" height="40"></canvas></div>
        </div>
    </div>
</div>

<!-- Table  -->
<div class="card mb-4">
    <div class="card-header">
        <i class="bi bi-table"></i>
        List of Products
    </div>
    <div class="card-body">

        <table id="datatablesSimple">
            <thead>
            <tr>
                <th> Item 
                    <% if(sorting.field !== 'name') { %>
                        <a class="text-dark" href="/product/index?sortBy=name&srt=1" >  
                    <% } else { %>
                        <a class="text-dark" href="/product/index?sortBy=name&srt=<%= (sorting.direction == 1) ? -1 : 1 %>" > 
                    <% } %>
                        </a>
                </th>
                <th> Quantity 
                    <% if(sorting.field !== 'quantity') { %>
                        <a class="text-dark" href="/product/index?sortBy=quantity&srt=-1" >  
                    <% } else { %>
                        <a class="text-dark" href="/product/index?sortBy=quantity&srt=<%= (sorting.direction == 1) ? -1 : 1 %>" > 
                    <% } %>
                        </a> 
                </th>
                <th> Updated At 
                    <% if(sorting.field !== 'updatedAt') { %>
                        <a class="text-dark" href="/product/index?sortBy=updatedAt&srt=1" >  
                    <% } else { %>
                        <a class="text-dark" href="/product/index?sortBy=updatedAt&srt=<%= (sorting.direction == 1) ? -1 : 1 %>" > 
                    <% } %>
                        </a> 
                </th>
                <th> Storage 
                    <% if(sorting.field !== 'storage') { %>
                        <a class="text-dark" href="/product/index?sortBy=storage&srt=1" >  
                    <% } else { %>
                        <a class="text-dark" href="/product/index?sortBy=storage&srt=<%= (sorting.direction == 1) ? -1 : 1 %>" > 
                    <% } %>
                        </a>
                </th>
                <th> Brand 
                    <% if(sorting.field !== 'brand') { %>
                        <a class="text-dark" href="/product/index?sortBy=brand&srt=1" >  
                    <% } else { %>
                        <a class="text-dark" href="/product/index?sortBy=brand&srt=<%= (sorting.direction == 1) ? -1 : 1 %>" > 
                    <% } %>
                        </a>
                </th>
                <th> Supplier 
                    <% if(sorting.field !== 'supplier') { %>
                        <a class="text-dark" href="/product/index?sortBy=supplier&srt=1" >  
                    <% } else { %>
                        <a class="text-dark" href="/product/index?sortBy=supplier&srt=<%= (sorting.direction == 1) ? -1 : 1 %>" > 
                    <% } %>
                        </a>
                </th>

                <th> Edit </th>
                <th> Delete </th>

            </tr>
            </thead>

         
            
                <% products.forEach(function(product){  %>

                    <tr>
                        <td> <a href="/product/detail?id=<%= product._id %>" class="text-dark text-decoration-none"><%= product.name %> <i class="bi bi-box-arrow-in-up-right"></i></a> </td>
                        <td> <%= product.quantity %> </td>
                        <td> <%= moment(product.updatedAt).format('LLLL') %></td>
                        <td> <%= product.storage %> </td>
                        <td> <%= product.brand %> </td>
                        <td> <a href="/supplier/detail?id=<%= product.supplier._id %>" class="text-dark text-decoration-none"><%= product.supplier.name %> <i class="bi bi-box-arrow-in-up-right"></i></a> </td>
    
                        <td><a href="/product/edit?id=<%=product._id%>"><i class="bi bi-pencil-square text-dark"></i></a> </td>
                        <td> 
                            <a href="/product/delete?id=<%=product._id%>" class="delete"><i class="bi bi-trash3 text-dark"></i></a>
                        </td>
                    </tr>
                
                <% }) %>
           

        </table>
    </div>
</div>
