<h2> List of products </h2>

<table class="table table-striped">
    <tr>
        <th> Item 
            <% if(sorting.field !== 'name') { %>
                <a class="text-dark" href="/product/index?sortBy=name&srt=1" >  
            <% } else { %>
                <a class="text-dark" href="/product/index?sortBy=name&srt=<%= (sorting.direction == 1) ? -1 : 1 %>" > 
            <% } %>
            <i class="bi bi-arrow-down-up"></i></a>
        </th>
        <th> Quantity 
            <% if(sorting.field !== 'quantity') { %>
                <a class="text-dark" href="/product/index?sortBy=quantity&srt=-1" >  
            <% } else { %>
                <a class="text-dark" href="/product/index?sortBy=quantity&srt=<%= (sorting.direction == 1) ? -1 : 1 %>" > 
            <% } %>
            <i class="bi bi-arrow-down-up"></i></a> 
        </th>
        <th> Updated At 
            <% if(sorting.field !== 'updatedAt') { %>
                <a class="text-dark" href="/product/index?sortBy=updatedAt&srt=1" >  
            <% } else { %>
                <a class="text-dark" href="/product/index?sortBy=updatedAt&srt=<%= (sorting.direction == 1) ? -1 : 1 %>" > 
            <% } %>
            <i class="bi bi-arrow-down-up"></i></a> 
        </th>
        <th> Storage 
            <% if(sorting.field !== 'storage') { %>
                <a class="text-dark" href="/product/index?sortBy=storage&srt=1" >  
            <% } else { %>
                <a class="text-dark" href="/product/index?sortBy=storage&srt=<%= (sorting.direction == 1) ? -1 : 1 %>" > 
            <% } %>
            <i class="bi bi-arrow-down-up"></i></a>
        </th>
        <th> Brand 
            <% if(sorting.field !== 'brand') { %>
                <a class="text-dark" href="/product/index?sortBy=brand&srt=1" >  
            <% } else { %>
                <a class="text-dark" href="/product/index?sortBy=brand&srt=<%= (sorting.direction == 1) ? -1 : 1 %>" > 
            <% } %>
            <i class="bi bi-arrow-down-up"></i></a>
        </th>
        <th> Supplier 
            <% if(sorting.field !== 'supplier') { %>
                <a class="text-dark" href="/product/index?sortBy=supplier&srt=1" >  
            <% } else { %>
                <a class="text-dark" href="/product/index?sortBy=supplier&srt=<%= (sorting.direction == 1) ? -1 : 1 %>" > 
            <% } %>
            <i class="bi bi-arrow-down-up"></i></a>
        </th>
        <th> Edit </th>
        <th> Delete </th>
    </tr>

<% products.forEach(function(product){  %>
    <tr>
        <td> <a href="/product/detail?id=<%= product._id %>"><%= product.name %> </a> </td>
        <td> <%= product.quantity %> </td>
        <td> <%= moment(product.updatedAt).format('LLLL') %></td>
        <td> <%= product.storage %> </td>
        <td> <%= product.brand %> </td>
        <td> <a href="/supplier/detail?id=<%= product.supplier._id %>"><%= product.supplier.name %> </a> </td>

        <td><a href="/product/edit?id=<%=product._id%>"><i class="bi bi-pencil-square"></i></a> </td>
        <td> 
            <a href="/product/delete?id=<%=product._id%>" class="delete"><i class="bi bi-trash3"></i></a>
            
        </td>
    </tr>
    
    <% }) %>

</table>