<div class="container-fluid px-4 mt-4">

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/supplier/index" class="text-dark">Supplier</a></li>
        <li class="breadcrumb-item active">Details </li>
    </ol>

    <div class="card mb-4">
        <div class="card-body">

            <div>
    
                    <h2> <%= supplier.name %> </h2>

                    <br>

                    <a href="/supplier/edit?id=<%= supplier.id %>" class="text-dark">Update Supplier  <i class="bi bi-box-arrow-in-up-right"></i></a>

                    <br>

                    <table class="table table-hover">

                        <tr>
                            <th>Phone Number: </th>
                            <td><%= supplier.phoneNumber %> </td>   
                        </tr>
                        <tr>
                            <th>Address: </th>
                            <td><%= supplier.address %></td>
                        </tr>
                        <tr>
                            <th>Email: </th>
                            <td><%= supplier.email %></td>
                        </tr>
                        <tr>
                            <th>Website: </th>
                            <td><a href="<%= supplier.website %>"></a> <%= supplier.website %></td>
                        </tr>
                        <tr>
                            <th>Description: </th>
                            <td><%= supplier.description %></td>
                        </tr>
                        <tr>
                            <th>Created At: </th>
                            <td><%= moment(supplier.createdAt).format('LLLL') %></td>
                        </tr>
                        <tr>
                            <th>Updated At: </th>
                            <td><%= moment(supplier.updatedAt).calendar() %></td>
                        </tr>
                    </table>



                        <!-- Product available  -->

                <div class="card mb-4">
                        <div class="card-header">
                            <i class="bi bi-table"></i>
                            List of Products from this supplier
                        </div>
                    <div class="card-body">
                
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th> Item </th>
                                <th> Quantity </th>
                                <th> Updated At </th>
                                <th> Storage </th>
                                <th> Brand </th>                                
                                <th> Edit </th>            
                            </tr>
                            </thead>

                            <% supplier.product.forEach(function(product) { %>
                            <hr>

                            <tr>
                                <td> <a href="/product/detail?id=<%= product._id %>" class="text-dark text-decoration-none"><%= product.name %> <i class="bi bi-box-arrow-in-up-right"></i></a> </td>
                                <td> <%= product.quantity %> </td>
                                <td> <%= moment(product.updatedAt).format('LLLL') %></td>
                                <td> <%= product.storage %> </td>
                                <td> <%= product.brand %> </td> 
                                <td><a href="/product/edit?id=<%=product._id%>"><i class="bi bi-pencil-square text-dark"></i></a> </td>
                                
                            </tr>
                            
                            <% }) %>
        
                        </table>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>