<div class="container-fluid px-4 mt-4">

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/product/index" class="text-dark">Dashboard</a></li>
        <li class="breadcrumb-item active">Suppliers</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">


<div class="card mb-4">
    <div class="card-header">
        <i class="bi bi-table"></i>
        List of Suppliers
    </div>
    <div class="card-body">

        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th> Name 
                        <% if(sorting.field !== 'name') { %>
                            <a class="text-dark" href="/supplier/index?sortBy=name&srt=1" >  
                        <% } else { %>
                            <a class="text-dark" href="/supplier/index?sortBy=name&srt=<%= (sorting.direction == 1) ? -1 : 1 %>" > 
                        <% } %>
                            </a>
                    </th>

                    <th> Phone Number </th>

                    <th> Address </th>

                    <th> Created At 
                        <% if(sorting.field !== 'createdAt') { %>
                            <a class="text-dark" href="/supplier/index?sortBy=createdAt&srt=1" >  
                        <% } else { %>
                            <a class="text-dark" href="/supplier/index?sortBy=createdAt&srt=<%= (sorting.direction == 1) ? -1 : 1 %>" > 
                        <% } %>
                            </a>
                    </th>

                    <th> Updated At 
                        <% if(sorting.field !== 'updatedAt') { %>
                            <a class="text-dark" href="/supplier/index?sortBy=updatedAt&srt=1" >  
                        <% } else { %>
                            <a class="text-dark" href="/supplier/index?sortBy=updatedAt&srt=<%= (sorting.direction == 1) ? -1 : 1 %>" > 
                        <% } %>
                            </a>
                    </th>

                    <th> Edit </th>

                    <th> Delete </th>
                </tr>
            </thead>

                <% suppliers.forEach(function(supplier) { %>
                <tr>
                    <td> <a href="/supplier/detail?id=<%= supplier.id %>"><%= supplier.name %></a></td>
                    <td> <%= supplier.phoneNumber %> </td>
                    <td> <%= supplier.address %> </td>
                    <td> <%= moment(supplier.createdAt).fromNow() %> </td>
                    <td> <%= moment(supplier.updatedAt).fromNow() %> </td>
                    <td> <a href="/supplier/edit?id=<%= supplier.id %>"><i class="bi bi-pencil-square text-dark"></i></a>  </td>
                    <td> 
                        <% if(supplier.product.length === 0) { %>
                            <a href="/supplier/delete?id=<%= supplier.id %>" class="delete"><i class="bi bi-trash3 text-dark"></i></a>  
                        <% } else { %>
                            <span>cannot delete</span>
                        <% } %>
                    </td>
                </tr>
                
                <% }) %>
            
        </table>
    </div>
</div>