<div class="container-fluid px-4 mt-4">

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/product/index" class="text-dark">Dashboard</a></li>
        <li class="breadcrumb-item active">Suppliers</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">


<div class="card mb-4">
    <div class="card-header">
        <i class="bi bi-table"></i>
        List of Suppliers
    </div>
    <div class="card-body">

        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th> Name </th>

                    <th> Phone Number </th>

                    <th> Address </th>

                    <th> Created At </th>

                    <th> Updated At </th>

                    <th> Edit </th>

                    <th> Delete </th>
                </tr>
            </thead>

            

                <% suppliers.forEach(function(supplier) { %>
                    
                <tr>
                    <td> <a href="/supplier/detail?id=<%= supplier.id %>" class="text-dark text-decoration-none"><%= supplier.name %> <i class="bi bi-box-arrow-in-up-right"></i></a></td>
                    <td> <%= supplier.phoneNumber %> </td>
                    <td> <%= supplier.address %> </td>
                    <td> <%= moment(supplier.createdAt).fromNow() %> </td>
                    <td> <%= moment(supplier.updatedAt).fromNow() %> </td>
                    <td> <a href="/supplier/edit?id=<%= supplier.id %>"><i class="bi bi-pencil-square text-dark"></i></a>  </td>
                    <td> 
                        <% if(supplier.product.length === 0) { %>
                            <a href="/supplier/delete?id=<%= supplier.id %>" class="delete"><i class="bi bi-trash3 text-dark"></i></a>  
                        <% } else { %>
                            <span>cannot delete</span>
                        <% } %>
                    </td>
                </tr>
                
              
                    <% }) %>

                    

            
        </table>
        <button id="download-button" onclick="">Download</button>
    </div>
</div>


<script>function htmlToCSV(html, filename) {
	var data = [];
	var rows = document.querySelectorAll("table tr");
			
	for (var i = 0; i < rows.length; i++) {
		var row = [], cols = rows[i].querySelectorAll("td, th");
				
		for (var j = 0; j < cols.length; j++) {
		        row.push(cols[j].innerText);
        }
		        
		data.push(row.join(",")); 		
	}

	downloadCSVFile(data.join("\n"), filename);
}</script>

<script>function downloadCSVFile(csv, filename) {
	var csv_file, download_link;

	csv_file = new Blob([csv], {type: "text/csv"});

	download_link = document.createElement("a");

	download_link.download = filename;

	download_link.href = window.URL.createObjectURL(csv_file);

	download_link.style.display = "none";

	document.body.appendChild(download_link);

	download_link.click();
}</script>

<script>document.getElementById("download-button").addEventListener("click", function () {
	var html = document.querySelector("table").outerHTML;
	htmlToCSV(html, "list.csv");
});</script>