<h2> Suppliers </h2>

<table class="table table-striped">
    <tr>
        <th> Name </th>
        <th> Phone Number </th>
        <th> Address </th>
        <th> Created At </th>
        <th> Updated At </th>
        <th> Edit </th>
        <th> Delete </th>
    </tr>

<% suppliers.forEach(function(supplier) { %>
    <tr>
        <td> <a href="/supplier/detail?id=<%= supplier.id %>"><%= supplier.name %></a></td>
        <td> <%= supplier.phoneNumber %> </td>
        <td> <%= supplier.address %> </td>
        <td> <%= moment(supplier.createdAt).fromNow() %> </td>
        <td> <%= moment(supplier.updatedAt).fromNow() %> </td>
        <td> <a href="/supplier/edit?id=<%= supplier.id %>">Edit</a>  </td>
        <td> <a href="/supplier/delete?id=<%= supplier.id %>">Delete</a>  </td>
    </tr>
    <% }) %>


</table>